.background{
     background: linear-gradient(#009688 20%, #d9dbd4 20% 70%);
}

#container{
     height: 90%;
}

#utenti{
     width: 40%;
}

#chat{
     width: 60%;
}

#mioAvatar, #avatar2{
     height: 60px;
}

#notifiche{
     height: 60px;
     background-color: #8edafc;
}

#cerca{
     height: 40px;
}

.form-control, .input-group-text{
     height: 35px;
}

#contatti{
     height: 60px;
     background-color: white;
}


#contatti img{
     width: 50px;
}

.text-small{
     font-size: 10px;
}

#conversazione{
     height: 520px;
     background-image: url(../img/mine.jpg); 
     overflow-y: auto;
}

.messaggioInviato{
     background-color: #d5f9ba;
     border-radius: 10px;
     padding: 10px;
     margin-bottom: 15px;
     width: 50%;
     display: flex;
     align-self: end;

}

.messaggioRicevuto{
     background-color: white;
     border-radius: 10px;
     padding: 10px;
     margin-bottom: 15px;
     width: 50%;
}

#scriviMessaggi{
     height: 60px;
     background-color: #f3eeea;
}


